body {
  background-color: #d1f5be;
  color: #82735c;
  font-family: Arial, sans-serif;
  font-size: 20px; 
  max-width: 900px; 
  margin: 0 auto;  
  padding: 20px;
}

nav a {
  margin-right: 10px;
  color: #82735c;
  font-size: 20px;
}
nav {
  margin-bottom: 30px;  
}
h1, h2 {
  text-align: center; 
}

p {
  text-align: center; 
  line-height: 1.5;
}


.image-row {
  display: flex;
  justify-content: space-around; 
  margin-bottom: 20px;
}

.image-row img {
  width: 300px;   
  height: 190px;  
  object-fit: cover;
  display: block;
  margin-bottom: 10px;
}

.image-row-center {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.image-row-center img {
  width: 220px;     
  height: 150px;    
  object-fit: cover;
}

.previous-next {
  text-align: center;
  padding: 10px;
  border-top: 1px solid #82735c;
  margin-top: 20px;
  font-size: 18px;
}



.Intro-Image {
  width: 600px;       
  height: 350px;      
  object-fit: cover;
  display: block;
  margin: 20px auto;  
  border-radius: 8px;  
}


