body {
  background-color: #d1f5be; /* Tea Green */
  color: #82735c;            /* Olive wood */
  font-family: Arial, sans-serif;
}

nav a {
  margin-right: 10px;
  color: #82735c;
}

img {
  width: 150px;     
  height: 150px;     
  object-fit: cover; 
  display: block;
  margin-bottom: 10px;
}
.previous-next {
  text-align: center;
  padding: 10px;
  border-top: 1px solid #82735c;
  margin-top: 20px;
}
